/* This file is for your main application css. */

@import "./phoenix.css";
@import "../../deps/phoenix_live_view/assets/css/live_view.css";

html, body {
  margin: 0;
}

textarea {
  height: 100%;
  width: 100%;
}

.l-columns {
  display: flex;
  flex-orientation: row;
  height: 100vh;
  width: 100vw;
}

.l-column {
  flex: 1;
}

.o-tab-list {
  display: flex;
  flex-orientation: row;
  width: 100%;
}

.o-tab-list__item {
  display: inline-block;
}

.o-tab-list__item + .o-tab-list__item {
  margin-left: 10px;
}

.o-tab-list__item--active {
  text-decoration: underline;
}

.c-preview {
  padding: 15px;
}

.c-editor {
  padding: 15px;
}
