# https://docs.github.com/en/actions/publishing-packages/publishing-docker-images

# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.

# GitHub recommends pinning actions to a commit SHA.
# To get a newer version, you will need to update the SHA.
# You can also reference a tag or branch, but the action may change without warning.

name: Create and publish a Docker image to Github Packages

on:
  push:
    branches: ['main']
    paths:
    - ".github/workflows/publish-image.yml"
    - ".github/docker/*"

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository }}

jobs:
  build-and-push-image:
    name: Build 'Dockerfile_${{ matrix.dockerfile }}' and publish to Github Packages
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    strategy:
      matrix:
        dockerfile: ['elixir-1-11', 'debian-buster', 'alpine-3-17-3', 'alpine-3-18-4', 'alpine-3-20-2']

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - uses: dorny/paths-filter@v2
        id: paths-filter
        with:
          filters: |
            dockerfile:
              - .github/docker/Dockerfile_${{matrix.dockerfile}}

      - name: Log in to the Container registry
        if: steps.paths-filter.outputs.dockerfile == 'true'
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push Docker image
        if: steps.paths-filter.outputs.dockerfile == 'true'
        uses: docker/build-push-action@v5
        with:
          context: .
          file: .github/docker/Dockerfile_${{matrix.dockerfile}}
          tags: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:${{ matrix.dockerfile }}
          push: true
